<!DOCTYPE html>
<html>
<head>
  <title>Alinda: The system built for companies</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css" />
  <%= favicon_link_tag asset_path('favicon.ico') %>
</head>

<body>

<%= render partial: "partials/nav" %>
<main>
  <div class="container">
      <div class="columns is-mobile">
        <div class="column">
          <%= render partial: "partials/flash" %>
        </div>
      </div>
  </div>
  <%= yield %>
</main>
<%= render partial: "partials/footer"%>
</body>
</html>
